<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= params[:user_text].count_of_words %></h2>

<h2>Vowels: <%= params[:user_text].count_of_vowels %></h2>

<h2>Consonants: <%= params[:user_text].count_of_consonants %></h2>

<h2>Most Common Letter: <%= params[:user_text].most_used_letter %> used <%= params[:user_text].count_of_consonants %> times</h2>
